body {background-color: white !important; position: relative; padding: 50px 0;}
.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {background-color: transparent; cursor: text;}
